.title
  width 742px
  p
    font-size 16px

.little-title
  height 40px
  background-color #ffffff
  margin-bottom 2px
  p
    font-size 14px
    color #303030
    margin-left 16px
    line-height 40px