.alert
  position fixed
  top 40%
  left 40%
  width 480px
  height 270px
  background-color #fff
  box-shadow 0 12px 20px 0 rgba(0, 0, 0, 0.12)
  border solid 1px rgba(0, 0, 0, 0.08)
  text-align center
  z-index 1000
  >a
    >img.close
      position absolute
      top 0px
      cursor pointer
      width 27px
      height 23px
      right 0px
  >p.alert-title
    font-size 18px
  >p.alert-info
    margin 50px 40px 30px 40px
    height 90px
    font-size 14px
    color #303030
  >.button
    width 133px
    height 30px