dark = #4f4f4f
light-dark = #606060
header
  background-color dark
  display flex
  justify-content space-between
  color white
  .left
    img
      margin 13px 10px
    span
      font-size 14px
      position relative
      bottom  18px
  img.publish
    width 15px
    margin 17px 17px 0px 0px
    height 16px