.search
  width 742px
  height 40px
  display flex
  font-size 14px
  border-radius 4px
  background-color #ffffff
  p
    margin 10px 12px
    color #000000
    opacity 0.5
    font-size 14px
  input
    width 625px
    height 20px
    margin-top 8px
    border 0px none 
    background #ff
    border-left 2px
    border-radius 0px
    outline none
    border-left-color #ebebeb
    border-left-style solid 
  &:focus
    border none
  img
    cursor pointer
    margin 11px 15px
    width 18px
    height 18px