@import '../../assets/styl/common.styl'

div.nav
  background white
  width 133px
  div
    &.active
      font-weight 500
      color darkBlue
      background-color lightBlue
      border-top-style solid
      border-top-width  2px
      border-top-color  #c3e5fd
      border-bottom-style solid
      border-bottom-width  2px
      border-bottom-color  #c3e5fd
      border-right-style solid
      border-right-width  3px
      border-right-color  darkBlue
    height 40px
    width 133px
    margin 0px 0px 10px 0px
    p
      display inline
      position relative
      margin 0px
      font-size: 14px;
      top 6px
      left 14px
      >a
        text-decoration none
        color black